@model IEnumerable<BadgeManagerMVC.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h3>Employees</h3>
<br />

<p>
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-5">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.TextBox("search", null, new { @class = "form-control col-lg-3 col-md-3 col-sm-1" })                
                <input type="submit" value="Search" class="btn btn-primary" />
            }
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <input type="button" value="Create New" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Home")'" />
        </div>
    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeGuid }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeGuid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeGuid })
        </td>
    </tr>
}

</table>
